.card {
  /* border: 2px solid red; */
  width: 30%;
  height: auto;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.input {
  border: 1px solid gray;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px 15px;
}
.result {
  /* border: 2px solid red; */
  width: auto;
  height: auto;
  position: relative;
  top: 20px;
  padding: 0px 5px 20px 5px;
  font-weight: 500;
}
.buttonBox {
  width: 85%;
  height: auto;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  width: auto;
  height: 50px;
  background: #e5e4e4;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

@media (max-width: 1424px) {
  .card {
    width: 50%;
  }
  .input {
    width: 60%;
  }
  .buttonBox {
    width: auto;
    max-width: 355px;
  }
}

@media (max-width: 1064px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 644px) {
  .card {
    width: 95%;
  }
  .input {
    width: 80%;
  }
}
@media (max-width: 479px) {
  .card {
    width: 95%;
  }
  .input {
    width: 100%;
  }
  .buttonBox {
    width: 95%;
  }
  .button {
    width: auto;
    height: 45px;
    background: #e5e4e4;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
  }
}
